<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="utf-8">
        <title>Comment edit</title>
         <link href="../static/css/main.css" th:href="@{/css/main.css}" rel="stylesheet" type="text/css"/>
        
        <link href="../static/css/fontello.css" th:href="@{/css/fontello.css}" rel="stylesheet" type="text/css"/>
        
        <link href="https://fonts.googleapis.com/css2?family=Capriola&display=swap" rel="stylesheet">
    </head>
    <body>
        <header>
        
            <div th:replace="index::mainheader"></div>
        
        </header>
        <div class="large-container" >
            
            
            <div class="comments">
                
<!--
                <div class="comment" th:each="comment : ${lecture.comments}">
                    <div class="avatar" >
                        <i class="demo-icon icon-user-circle-o"></i>
                    </div>
                    <div class="details" >
                        <div class="author"> 
                            <a th:href="@{'/users/' + ${comment.creatorUser.id}}" th:text="${comment.creatorUser.username}"/></div>
                        <div class="content" th:text="${comment.content}"></div>
                    </div>
                    <div style="float: left;" th:if="${#authentication.name == comment.creatorUser.username}">
                        <a th:href="@{'/comments/' + ${comment.id}}" th:text="edit"/>
                    </div>
                    <div style="clear: both;"></div>
                </div>
-->
                <div class="madeComment">
                    <div class="avatar" >
                        <i class="demo-icon icon-user-circle-o"></i>
                    </div>
                    <div class="details2">
                        <form th:action="@{'/lectures/' + ${comment.lecture.id} + '/comments/'+${comment.id}}" th:object="${comment}" method="post">
                            <textarea class="textComment" th:field="*{content}" type="text"/>
                            <input type="submit" value="Submit"/>
                        </form>
                    </div>
                    <div style="clear: both;"></div>       
                </div>
            </div>
        </div>
    </body>
</html>