<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="utf-8">
        <title>Welcome</title>
        <link th:href="@{/css/main.css}" rel="stylesheet" type="text/css">
        <link href="https://fonts.googleapis.com/css2?family=Capriola&display=swap" rel="stylesheet">
    </head>
    <body>
        <header>
            <div th:fragment="mainheader" class="top">
                <div class="logo">
                    Lecturi<span>X</span>
                </div>
                <nav>
                    <div class="menu">
                        <ul>
                            <li><a th:href="@{/}" >Home</a></li>

                            <li><a th:href="@{/aboutus}" >About us</a></li>
                            <li sec:authorize="isAnonymous()"><a th:href="@{/login}" >Sign in</a></li>
                            <li sec:authorize="isAnonymous()"><a th:href="@{/register}" >Sign up</a></li>
                            <li sec:authorize="isAuthenticated()"><a th:href="@{/profile}" th:text="Profile">Profile</a></li>
                            <li sec:authorize="isAuthenticated()" th:fragment="logout">

                                    <form th:action="@{/logout}" method="post">
                                        <input type="submit" value="Sign out" />        
                                    </form>

                            </li>
                        </ul>
                    </div>
                </nav>
                
            </div>
        </header>
        <main>
            <div class="large-container">
                 <h3>Comming soon...</h3>
            <table>
                <thead>
                    <tr>
                        <th>speaker</th>
                        <th>title</th>
                        <th>tags</th>
                    </tr>
                </thead>
                <tbody>
                    <tr th:each="lecture : ${lecturesPage}">
                        
                        <td><a th:href="@{'/users/' + ${lecture.speaker.id}}" th:text="${lecture.speaker.firstName + ' ' + lecture.speaker.lastName}" /> </td>
                        <td><a class="td-title-a" th:href="@{'/lectures/' + ${lecture.id}}" th:text="${lecture.title}"></a></td>
                        <td th:text="${lecture.tags}" />
                    </tr>
                </tbody>
            </table>
            <div class="numbers">
                <div style="float: left" th:if="${lecturesPage.totalPages > 0}" class="pagination" th:each="pageNumber : ${pageNumbers}">
                    <a th:href="@{/(size=${lecturesPage.size}, page=${pageNumber})}"
                    th:text=${pageNumber}
                    th:class="${pageNumber==lecturesPage.number + 1} ? active"></a>
                </div>
                <div style="clear: both"/>
            </div>
        </div>
        </main>
    </body>
</html>